@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    @apply
        bg-gradient-to-b from-slate-900 to-slate-800
}

body {
    min-height: 100%;
}

.btn {
    @apply
        bg-blue-800
        border-white
        rounded-full
        py-2
        px-3
        uppercase
        text-xs
        font-bold
        cursor-pointer
        tracking-wider
        animate-pulse;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.box {
    @apply
        bg-blue-400
        border-slate-500
        mx-auto
        flex
        flex-col
        justify-center
        text-center
        box-content
        h-32
        w-48
        font-bold
        rounded-2xl
        bg-blend-color;
}

.mainContainer {
    background-color: #0b0d19;
    @apply
        border-solid
        border-2
        border-blue-900
        mt-4
        ml-80 /* THIS IS A TEMPORARY PLACEHOLDER UNTIL ITEMS ARE ALIGNED PROPERLY */
        py-9
        rounded-xl
        shadow-xl
        w-4/5
}

.testNav {
    overflow: hidden;
    @apply
        bg-gradient-to-b from-sky-900 to-sky-700
        border-r-2
        border-b-2
        border-l-2
        border-blue-400
        rounded-b-2xl
        shadow-xl
}

/* Style the links inside the navigation bar */
.testNav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.testNav a:hover {
    background-color: #a5e2ff;
    color: black;
}

/* Add a color to the active/current link */
.testNav a.active {
    background-color: #2186d3;
    color: white;
}